[[inputs.x509_cert]]
interval = "300s"
#   ## List certificate sources
  sources = ["/etc/ssl/certs/{{ inventory_hostname_short }}.pem"]
#
#   ## Timeout for SSL connection
#   # timeout = "5s"
#
#   ## Pass a different name into the TLS request (Server Name Indication)
#   ##   example: server_name = "myhost.example.org"
#   # server_name = ""
#
#   ## Optional TLS Config
#   # tls_ca = "/etc/telegraf/ca.pem"
#   # tls_cert = "/etc/telegraf/cert.pem"
#   # tls_key = "/etc/telegraf/key.pem"
